<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="TemperatureConverterSuite">
    <test name="AllTemperatureCalculatorTests">
        <classes>
            <class name="org.temperatureconverter.TemperatureCalculatorTest"/>
        </classes>
    </test>

    <test name="SmokeTestsOnly">
        <groups>
            <run>
                <include name="smoke"/>
            </run>
        </groups>
        <classes>
            <class name="org.temperatureconverter.TemperatureCalculatorTest"/>
        </classes>
    </test>
</suite>